<form action="/availability" method="GET" >
  <span>Dia:</span>
  <input type="date" id="datePicker" name="day" />
  <br/>
  <span>Role:</span>
  <select name="role" />
    <% @roles.each do |role| %>
      <option value="<%= role %>"><%= role %></option>
    <% end %>
  </select>
  <br/>
  <span>Horario da Entrevista</span>
  <input type="time" name="start" />
  <br/>
  <input type="submit" value="ACHAR PESSOAS DISPONIVEIS" />
</form>
<script>
  document.getElementById('datePicker').valueAsDate = new Date();
</script>

