<!DOCTYPE html>
<html>
  <head>
    <title>Agendador de Entrevistas</title>
  </head>
  <body>
    <header>
      <% if @user %>
        <span>Ola <%= @user.email %></span>
        <br/>
        <span>AccessToken <%= @user.token %></span>
        <br/>
        <a href="/">NOVA PESQUISA"</a>
      <% else %>
        <a href="/auth">LOGIN</a>
      <% end %>
    </header>
    <main>
    <h1>Agendador de Entrevistas</h1>
    <% if @user %>
      <%= yield %>
    <% end %>
    </main>
  </body>
</html>
