// @import "~material-ui/src/less/scaffolding.less";
// @toolbar-background-color: @cyan-100;
// @import "~material-ui/src/less/components.less";
/* custom font icons */
@import "font-icons/style.css";

@pink-A100: #ff80ab;
@indigo-500: #3f51b5;
@indigo-700: #303f9f;
@white: white;

.time-box, .roles-box, .offices-box {
  > div:first-child > div {
    color: white !important;
    font-weight: 300;
  }
}
.time-box {
  > div:last-child {
    max-height: 200px !important;
    overflow: auto !important;
  }
}

.date-picker {
  margin-left: 24px;
  width: 210px;

  input {
    color: white !important;
    font-weight: 300 !important;
  }
}

.people-list {
  background-color: @white;
  position: relative;
  list-style: none;
  padding: 8px 0;
  max-height: 328px;
  overflow: auto;
  margin-top: 0px;
}

.people-list-divider {
  font-size: 13px;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 16px;
}

.people-list-tile {
  position: relative;
  height: 56px;
  padding: 10px;

  .people-tile-avatar {
    display: inline-block;
    vertical-align: middle;
  }

  .people-tile-text {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px
  }
}
